<div class="row">
  <div class="col-sm-12">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- currency-change -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9646834340680693"
      data-ad-slot="1189699854"
      data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

<% if @date.present? %>
  <div class="row krw">
    <%= render "krw" %>
  </div>
  <div class="row currency-items">
    <% @cur_list.sort().each do |cur| %>
      <% if cur.first  =~ /USDT_[A-Z]+/ %>
        <div class="col-sm-6 col-xs-12">
          <div class="card currency-item">
            <div class="card-header">
              <%= cur.first.gsub "_", " -> " %>
            </div>
            <div class="card-block">
              <% cur_info = cur.last %>

              <p>
                현재가 : <%= cur_info["last"] %> (한화 : <%= number_with_delimiter(@krw.to_f * cur_info["last"].to_f).round(4) %> )
              </p>
              <p>
                고가 : <%= cur_info["high24hr"] %> (한화 : <%= number_with_delimiter(@krw.to_f * cur_info["high24hr"].to_f).round(4) %> )
              </p>
              <p>
                저가 : <%= cur_info["low24hr"] %> (한화 : <%= number_with_delimiter(@krw.to_f * cur_info["low24hr"].to_f).round(4) %> )
              </p>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row rate-list">
    <%= render "rate_list" %>
  </div>
<% else %>
  Sorry Not Found Data
<% end %>


